.containerdesc{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    flex-wrap: wrap;
    /* display: flex;
    justify-content: space-between;
    border: 1px; */
}

#desc {
    margin: 20px 1px;
    border: 2px solid rgba(38, 36, 36, 0.126);
    box-shadow: 5px solid rgba(83, 81, 81, 0.348);
    border-radius: 5px;
    background-color: white;

}

.col {
    padding: 50px;
}

#desc button {
    background-color: green;
    color: white;
    font-size: 15px;
    padding: 8px 15px;
    border-color: green;
    border-radius: 5px;
    margin: 20px;
}

#desc button:hover {
    scale: 1.04;
    background-color: rgb(18, 124, 18);
    border-color: rgb(18, 124, 18);
}

#desc p {
    margin: 20px;
}

#desc h4 {
    margin-left: 20px;
}

#desc a {
    text-decoration: none;
    color: white;
}

.col img {
    width: 600px;
    height: 500px;
}

.about {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* responsiveness  */



@media (max-width: 1210px) {
    .containerdesc {
        display: flex;
        flex-direction: column;
    }

    .col {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}

@media (max-width: 600px) {
    .containerdesc {
        display: flex;
        flex-direction: column;
    }

    .col {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

}

@media (max-width: 775px) {
    .containerdesc {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        flex-shrink: inherit;
        column-gap: 1px;
    }

    /* .col{
        padding: 10px ;
    } */

    .col img {
        width: 400px;
        height: 400px;
    }
}

@media (max-width: 420px) {
    .containerdesc {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 1px;
        width: 100vw;
        max-width: 400px;
    }

    .col img {
        width: 280px;
        height: 280px;
    }
}

@media (max-width: 370px) {
    .containerdesc {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 1px;
        width: 100vw;
        max-width: 350px;
    }

    .col img {
        width: 220px;
        height: 180px;
    }
}