{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}
      {% endblock title %} | PAS laundry</title>

    {% block head %}{% endblock head %}
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <link rel="shortcut icon" href='{% static 'images/logoPAS.png' %}' type="image/x-icon"> 
    <link rel="stylesheet" href="{% static 'css/landing.css' %}">

    <script>
      tinymce.init({
        selector: '#mytextarea'
      });
    </script>


    <script src="https://code.jquery.com/jquery-2.2.0.min.js"
      type="text/javascript"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    {% block extracss %}{% endblock extracss %}
    <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  </head>
  <body>

    <section class="userdetail">
      {% if request.user.is_authenticated %}
        <a href="{% url 'logout' %}"><button>{{request.user}} Logout</button></a>
      {% else %}
        <a href="{% url 'login' %}"><button>Login</button></a>
      {% endif %}
    </section>

    <header class="header">
      <div class="innerheader">
        <img class="logo"
          src="{% static 'images/logoPAS.png' %}" width="60px"
          height="60px" alt srcset>
        <span><b>ALL LAUNDRY PRODUCTS UNDER ONE ROOF</b>
        </span>
      </div>

      <div class="innerheader2">
        <div class="contact">
          <a
            href="https://wa.me/+919650712233?text=I am interested in your service."><img
              src="{% static 'images/WhatsApp.svg.png' %}" width="50px"
              height="50px" alt srcset></a>
          <a href="tel:+919650712233"><img
              src="{% static 'images/Call Logo[1595].png' %}"
              width="50px"
              height="50px" alt srcset></a>
        </div>
      </div>
    </header>

    <!-- header ends here -->

    <!-- navbar starts here   -->

    <div class="topnav" id="myTopnav">
      <div> <a href="{% url 'home' %}" class="active">Home</a>
        <a href="{% url 'about' %} ">About Us</a>
        <a href="{% url 'services' %} ">Services</a>

        <div class="dropdown">
          <button class="dropbtn">Consumables
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="{% url 'marking' %}">Marking</a>
            <a href="{% url 'flat_work_ironer' %}">Flat
              work ironer</a>
            <a href="{% url 'pads_and_covers' %}">Pads
              and covers</a>
          </div>
        </div>
        <div class="dropdown">
          <button class="dropbtn">Parts
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="{% url 'thermopatch' %}">Thermopatch</a>
            <a href="{% url 'drainvalve' %}">Dependo Drain Valve</a>
            <a href="{% url 'drycleaning' %}">Dry Cleaning Parts</a>
            <a href="{% url 'speedqueen' %}">Speed Queen Parts</a>
            <a href="{% url 'forenta' %}">Forenta Parts</a>
            <a href="{% url 'hoffman' %}">Hoffman Parts</a>
            <a href="{% url 'milnor' %}">Milnor Parts</a>
          </div>
        </div>

        <div class="dropdown">
          <button class="dropbtn">Equipments
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="{% url 'washerextractor' %}">Washer Extractor</a>
            <a href="{% url 'dryer' %}">Dryer</a>
            <a href="{% url 'rollheatedironer' %}">Roll Heated Flat
              work ironer</a>
            <a href="{% url 'chestheatedironer' %}">Chest Heated Flat
              work ironer</a>
            <a href="{% url 'markingmachines' %}">Marking Machines</a>
            <a href="{% url 'drycleanmachines' %}">Dry Cleaning Machines</a>
            <a href="{% url 'finishingequipment' %}">Finishing Equipment</a>
          </div>
        </div>

      </div>
      
      <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
    </div>
    <hr>
    <div class="searching">
      <form method="post" role="search" >
        {% csrf_token %}
        <input type="text" name="search" placeholder="Search for product">
        <button type="submit" name="btnsubmit"> Search </button>
      </form>
    </div>
    <!-- navbar ends here  -->

    <!-- dynamic body starts here  -->

    {% block body %} {% endblock body %}

    <!-- dynamic body ends her  -->

    <!-- marquee starts here -->

    <div class="container">
      <h2 style="margin-bottom: 10px;">Products available for following brands
        </h2>
      <section class="customer-logos slider py-10">
        <div class="slide"><a href><img
              src="{% static 'images/alliance-newlogo-2018.png' %}" ></a></div>
        <div class="slide"><a href="{% url 'forenta' %}"><img
              src="{% static 'images/forenta_logo_black.png' %}"></a></div>
        <div class="slide"><a href="{% url 'hoffman' %}"><img
              src="{% static 'images/Hoffman logo.gif' %}"></a></div>
        <div class="slide"><a href><img src="{% static 'images/laco.png' %}"></a></div>
        <div class="slide"><a href><img src="{% static 'images/lapauw-1.png' %}"></a></div>
        <div class="slide"><a href="{% url 'milnor' %}"><img
              src="{% static 'images/Milnor-Logo.png' %}"></a></div>
        <div class="slide"><a href><img
              src="{% static 'images/sidi-mondial.png' %}"></a></div>
        <div class="slide"><a href="{% url 'speedqueen' %}"><img
              src="{% static 'images/speed-queen.png' %}"></a></div>
        <div class="slide"><a href="{% url 'thermopatch' %}"><img
              src="{% static 'images/thermopatch.jpg' %}"></a></div>
        <div class="slide"><a href><img
              src="{% static 'images/union_logo.png' %}"></a></div>
        <div class="slide"><a href><img src="{% static 'images/vega.png' %}"></a></div>
      </section>
    </div>

    <!-- marquee ends here   -->

    <!-- footer starts here  -->

    <footer class="footer">
      <div class="innerfooter1">
        <img src="{% static 'c' %}" alt="">
        <h3>All Your Laundry needs under one roof !</h3>
      </div>
      <div class="innerfooter2">
        <div class="links">
          <h5>Consumables</h5>
          <ul>
            <li><a href="{% url 'marking' %}">Marking</a></li>
            <li><a href="{% url 'flat_work_ironer' %}">Flat work Ironer</a></li>
            <li><a href="{% url 'pads_and_covers' %}">Pads And Covers</a></li>
          </ul>
        </div>
        <div class="links">
          <h5>Parts</h5>
          <ul>
            <li><a href="{% url 'thermopatch' %}">Thermopatch</a></li>
            <li><a href="{% url 'drainvalve' %}">Dependo Drain Valve</a></li>
            <li><a href="{% url 'drycleaning' %}">Dry Cleaning Parts</a></li>
            <li><a href="{% url 'speedqueen' %}">Speed Queen Parts</a></li>
          </ul>
        </div>
        <div class="links">
          <h5>More Parts</h5>
          <ul>
            <li><a href="{% url 'forenta' %}">Forenta Parts</a></li>
            <li><a href="{% url 'hoffman' %}">Hoffman Parts</a></li>
            <li><a href="{% url 'milnor' %}">Milnor Parts</a></li>
          </ul>
        </div>
        <div class="links">
          <h5>Contact US</h5>
          <ul>
            <li>
              <a href="tel:+919650712233">
                Call US : +91-9650712233</a>
            </li>
            <li>
              <a
                href="https://wa.me/+919650712233?text=I am interested in your service.">Click
                to contact us at <br> our whatsapp ! : +91-9650712233</a>
            </li>
            <li>
              <a href = "mailto:enquiry@paslaundry.in?subject = Enquiry for Product&body = I am interested in your service">
                Send Email : enquiry@paslaundry.in
                </a>
            </li>
          </ul>
        </div>
        <div class="links">
          <h5>Policies</h5>
          <ul>
            <li>
              <a href="{% url 'disclaimer' %}">
                Privacy Policy</a>
            </li>
          </ul>
        </div>
      </div>
      <!-- Copyright -->
      <div class="copyright">
        © 2023 Copyright :
        <a href="https://paslaundry.in/"> PAS Laundry </a>
      </div>
      <!-- Copyright -->
    </footer>
    <!-- footer ends here  -->

    <!-- importing requires js files  -->

    <script src="{% static 'js/index.js' %}"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"></script>

  </body>
</html>