{% extends 'product_mngmnt/base.html' %}
{% load static %}
{% block body %}

<img src="{% static 'images/Privacy-Policy.jpg' %}" width="100%"  alt="" srcset="">

<div class="about">
<h2 align="center">Disclaimer : </h2>
<div class="disclaimer">
    <div>
        <li>In the drafting and development of this website and its contents, we have strived for the utmost accuracy. That being said, the content made available through this website is for information purposes only.</li>
    </div> 
    <div>
        <li>We shall in no case be held liable for any damages, regardless of their nature, directly or indirectly caused by actions or decisions based on the information obtained on or through this website</li>
    </div> 
    <div>
        <li>We cannot guarantee that the information on this website is always complete, correct and up to date and/or that its use shall help visitors achieve their intended goals. Moreover, the information on this website can be amended at any time by us.</li>
    </div> 
    <div>
        <li>No responsibility whatsoever for the contents on any links to third-party websites. What’s more, we cannot be held liable for the accuracy of such links or their contents. The publication of links to third-party websites does not imply that we agree with the information that can be obtained through these sites. Such links are merely intended to help users of this website obtain further information .</li>
    </div>  
</div>


<h2 align="center">Cancellation Policy </h2>
<div class="disclaimer">
    <div>
        <li>No cancellations or returns are entertained once the parts, consumables, etc have been despatched, except for any technical or manufacturing defects.</li>
    </div> 
    <div>
        <li>Return/Exchange are accepted on the following conditions that the product is unused, in original packing alongwith documentation contained alongwith.</li>
    </div> 
    <div>
        <li>Returns are accepted within a period of 5 days of invoicing.</li>
    </div> 
     
</div>
<div>
    <h1>PAS Distributors</h1>
</div>
</div>





{% endblock body %}